# build output
dist/
.output/

# dependencies
node_modules/
.pnpm-store/

# astro
.astro/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.production

# editors / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
